<table>
	<tbody>
		<tr>
			<th>
				{{#if devoured }} {{id}} {{burger_name}} {{else}}
				<button class="change-devour btn-small waves-effect waves-light" data-id="{{id}}" data-newDevoured="{{devoured}}" type="submit"
				 name="action"> 
			 Devour?
		 </button> {{burger_name}} {{/if}}
			</th>
		</tr>
	</tbody>
</table>